/* static/css/recommend.css */

/* Reset some default styles */
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
  }
  
  /* Set body background color and font family */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Navbar styles */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #454647;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items at the ends */
}

.navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.navbar-form {
    display: flex;
    align-items: center;
    position: relative; /* Set position relative for the form container */
}

#movie-search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    font-weight:700;
    color: #454647;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#autocomplete-list {
    position: absolute;
    top: 100%; /* Position the list below the search bar */
    left: 0;
    width: 100%; /* Occupy the full width of the search bar */
    max-height: 400px;
    max-width: 320px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #020202;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Hide the autocomplete list by default */
    z-index: 1; /* Ensure the list is displayed above other elements */
}

.autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
}

/* Set background color for the "More" option */
.autocomplete-item.more-option {
    background-color: #0a0a0a;
    cursor: default; /* Disable cursor for the "More" option */
}
  .autocomplete-item:hover {
    background-color: #270c0c;
  }

  #recommendations-button {
    font-size: 16px;
    font-weight:700;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #454647;
    cursor: pointer;
    margin-left: 10px; /* Add some spacing to the left of the button */
}

#recommendations-button:hover {
    background-color: #7f7f7f;
    color: #fff; /* Change background color on hover */
}
  
  /* Main container styles */
  .container {
    max-width: 1200px;
    margin: 80px auto 20px; /* Adjust margin to create space below the fixed navbar */
    padding: 20px;
  }
  
  /* Recommendations styles */
h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Update movie container styles to display title and name in one line */
.movie-container {
    display: inline-block; /* Use inline-block to place containers in one line */
    margin: 20px;
    text-align: center;
    width: 200px; /* Set a fixed width for each movie container */
    height: 380px; /* Set a fixed height for each movie container */
    vertical-align: top; /* Align containers to the top to prevent vertical centering */
    overflow: hidden; /* Hide any overflowed content */
}

.movie-container img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-container p {
    margin-top: 10px;
    font-weight: bold;
    white-space: normal; /* Allow text to wrap to multiple lines */
}