<!-- app/templates/list_of_movies.html -->

<!DOCTYPE html>
<html>
<head>
    <title>List of Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
</head>
<body>
    <!-- Fixed Navbar -->
    <nav class="navbar">
        <a href="/" class="navbar-brand">Movie Recommendations System</a>
        <form id="movie-form" class="navbar-form">
            <input type="text" id="movie-search" name="selected_movie" placeholder="Search for a movie">
            <button type="button" id="recommendations-button" onclick="getRecommendations()">Get Recommendations</button>
            <div id="autocomplete-list" class="autocomplete-list"></div>
        </form>
    </nav>
    <!-- Movie Recommendations Section -->
    <div class="container">
        <h2>Recommended Movies:</h2>
        <div id="recommendations-container"></div>
    </div>

    <script src="{{ url_for('static', filename='recommend.js') }}"></script>
</body>
</html>
